<h1>リストページ</h1>

<table class="outcome"　border="1" >
	<thead>
		<tr>
			<h2>支出</h2>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>金額</th>
			<th>カテゴリ</th>
			<th>メモ</th>
		</tr>
		<% @lists.each do |list| %>
		<tr>
			<td><%= link_to '編集' ,edit_path %></td>
			<td><%= link_to '削除' ,delete_path %></td>
		</tr>
		<tr>
			<td>支出合計</td>
			<td><%= %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<table class="income">
	<thead>
		<tr>
			<th>収入合計</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= %></td>
		</tr>
	</tbody>
</table>

